* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  display: block;
  width: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 7em;
}
.main .main__h1__title {
  position: relative;
  text-align: center;
  bottom: 1.3em;
  font-size: 5em;
}
.main .main__form {
  display: flex;
  background-color: cornflowerblue;
  height: 30vh;
  width: fit-content;
  text-align: center;
}
.main .main__form .main__input {
  padding: 3em 1em;
  width: 80%;
}
.main .main__form .main__input .input {
  font-size: 1.8em;
}
.main .main__form .main__input #input {
  background-color: #b7d0ff;
  border-radius: 20px;
}
.main .main__form .main__output {
  width: 80%;
  padding: 3em 1em;
}
.main .main__form .main__output .output {
  font-size: 1.8em;
}
.main .main__form .main__output #output {
  background-color: #b7d0ff;
  border-radius: 20px;
}
.main #submit {
  padding: 0.2em;
  font-size: 2.5em;
  background-color: #b7d0ff;
  position: relative;
  bottom: 3em;
  border-radius: 20px;
}

@media screen and (min-width: 900px) {
  .main {
    max-height: 100vh;
    width: 170%;
  }
  .main__form {
    width: 100%;
  }
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: fit-content;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #5f91fc);
  background-repeat: repeat;
}