* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;
}
.main .main__h1__title {
  margin: 0 0 0.3em 0;
  font-size: 5em;
}
.main .main__h2__title {
  font-size: 3em;
  color: blue;
}
.main .main__form {
  display: flex;
}
.main .main__form h2 {
  text-align: center;
  padding: 0.8em;
}
.main .main__form .main__input {
  margin-right: 5em;
}
.main .main__form .main__input .input {
  font-size: 1.8em;
}
.main .main__form .main__input #input {
  text-align: center;
}
.main .main__form .main__output {
  margin-left: 5em;
}
.main .main__form .main__output .output {
  font-size: 1.8em;
}
.main .main__form .main__output #output {
  text-align: center;
}
.main #submit {
  padding: 0.2em;
  font-size: 2.5em;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;
}
.section .section__h2__title {
  font-size: 3em;
  color: blue;
}
.section .form2 {
  display: flex;
}
.section .form2 h2 {
  text-align: center;
  padding: 0.8em;
}
.section .form2 .input2 .input2 {
  font-size: 1.8em;
}
.section .form2 .input2 #input2 {
  text-align: center;
}
.section .form2 .output2 .output2 {
  font-size: 1.8em;
}
.section .form2 .output2 #output2 {
  text-align: center;
}
.section #submit2 {
  padding: 0.2em;
  font-size: 2.5em;
}

.line {
  height: 3px;
  background-color: black;
  position: relative;
  top: 1.9em;
}

.underline {
  height: 3px;
  background-color: black;
  position: relative;
  bottom: 1.9em;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}