* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;

  .main__h1__title {
    margin: 0 0 0.3em 0;
    font-size: 5em;
  }
  .main__h2__title {
    font-size: 3em;
    color: blue;
  }

  .main__form {
    display: flex;
    h2 {
      text-align: center;
      padding: 0.8em;
    }
    .main__input {
      margin-right: 5em;

      .input {
        font-size: 1.8em;
      }
      #input {
        text-align: center;
      }
    }

    .main__output {
      margin-left: 5em;

      .output {
        font-size: 1.8em;
      }
      #output {
        text-align: center;
      }
    }
  }
  #submit {
    padding: 0.2em;
    font-size: 2.5em;
  }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2em;
    
    .section__h2__title {
      font-size: 3em;
      color: blue;
    }
  
    .form2 {
      display: flex;
      h2 {
        text-align: center;
        padding: 0.8em;
      }
      .input2 {
  
        .input2 {
          font-size: 1.8em;
        }
        #input2 {
          text-align: center;
        }
      }
  
      .output2 {
  
        .output2 {
          font-size: 1.8em;
        }
        #output2 {
          text-align: center;
        }
      }
    }
    #submit2 {
      padding: 0.2em;
      font-size: 2.5em;
      }
  }
  
  .line {
    height: 3px;
    background-color: black;
    position: relative;
    top: 1.9em;
  }
