* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2em;

    .main__title {
        margin: 2em 0 3em 0;
        font-size: 2em;
    }

    .main__form {
        display: flex;
        h2 {
            text-align: center;
            padding: 0.8em;
        }
        .main__input {
            margin-right: 5em;

            .input{
                font-size: 1.8em;
            }
        }

        .main__output {
            margin-left: 5em;

            .output{
                font-size: 1.8em;
            }
        }
    }
    #submit{
        padding: 0.4em;
        font-size: 3em;
    }
}

