* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2em;
}
.main {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 7em;

  

  .main__h1__title {
    position: relative;
    text-align: center;
    bottom: 1.3em;
    font-size: 3em;
    color: rgb(111, 188, 255);
  }

  .main__form {
    display: flex;
    position: relative;
    bottom: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 27rem;
    width: fit-content;
    text-align: center;
    border-radius: 1rem;
    padding: 0 0.5rem;
    h2 {

    }
    .main__input {
      position: relative;
bottom: 2em;
      width: 100%;
      .input {
        font-size: 1.8em;

      }
      #input {
        background-color: rgb(183, 208, 255);
        border-radius: 20px;
      }
    }

    .main__output {
      width: 100%;
      padding: 3em 0;
      position: relative;
      bottom: 1em;
      .output {
        font-size: 1.8em;
      }
      #output {
        background-color: rgb(183, 208, 255);
        border-radius: 20px;
      }
    }
  }
  #submit {
    padding: 0.2em;
    font-size: 2.5em;
    background-color: rgb(183, 208, 255);
position: relative;
bottom: 4em;
border-radius: 20px;
  }
}



@media screen and (min-width: 900px) {
  
  .main {
    max-height: 100vh;
    width: 170%;


  &__form{
    width: 100%;
  }

}
}